:root {
    --colors-white: hsl(0, 100%, 100%);
    --colors-black: hsl(0, 0%, 0%);
    
    --colors-blue-200: hsl(193, 38%, 86%);
    --colors-green-300: hsl(150, 100%, 66%);
    
    --colors-blue-600: hsl(217, 19%, 38%);
    --colors-blue-900: hsl(217, 19%, 24%);
    --colors-blue-950: hsl(218, 23%, 16%);

    --spacing-50: 4px;
    --spacing-100: 8px;
    --spacing-200: 16px;
    --spacing-300: 24px;
    --spacing-400: 32px;
    --spacing-500: 40px;
    --spacing-600: 48px;
    --spacing-700: 56px;
    --spacing-800: 64px;

    --max-width-sm: 343px;
    --max-width-lg: 540px;
}
